/* This is the stylesheet for the game log sidebar */

/* Wrapper for the game log */
.game-log-wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 50vh;
}

/* Sidebar for the move log */
.game-move-log-sidebar {
    background-image: url("../../assets/menuBoard.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 70%;
    filter: drop-shadow(-5px 5px 10px rgb(64, 36, 1));
}

/* Wrapper for the move log */
.move-log-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 80%;
    background-color: #e2c489;
    border-radius: 8px;
    border: 2px solid #5d3906;
    box-shadow: inset 0 0 10px rgba(93, 57, 6, 0.2);
    padding: 6px 4px;
    margin-top: 4px;
    overflow: hidden; /* Ensures no content spills out */
}

/* Label for the move log */
.move-log-lbl {

    padding-top: 5%;
}

/* Responsive styles */
@media (min-aspect-ratio: 16/9) {
    h1 {
        font-family: 'Agency FB', sans-serif;
        font-size: 5vh;
    }
}

/* Styles for smaller screens */
@media (max-aspect-ratio: 16/9) {
    .game-log-wrapper {
        height: 50vw;
        width: 25vw;
    }

    .move-log-wrapper {
        height: 65%;
    }

}
